###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=your_app_secret
APP_DEBUG=1
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=8.0"
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_PASSPHRASE=your_jwt_passphrase
###< lexik/jwt-authentication-bundle ###
